.App {
  text-align: center;
  background-color: #115173;
  color: white;
  padding: 36px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

i {
  font-size: 12px;
}

input {
  padding: 6px;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 0;
  margin-right: 8px;
}

input::placeholder {
  color: #ffd700;
}

.title-input {
  font-size: 24px;
}

input:focus {
  outline: none;
}

h1 {
  margin: 0;
  color: #ffd700;
}

button {
  padding: 6px 8px;
  font-size: 16px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

button:hover {
  background-color: #ffd700;
  color: #115173;
}

button:focus {
  outline: none;
}

.todo-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 36px;
}

h4 {
  margin: 4px 0;
  border-bottom: 1px solid white;
  padding: 6px;
  position: relative;
  width: 180px;
  display: flex;
}

.fa-check-square {
  position: absolute;
  right: 12px;
  top: 9px;
}
